<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
    <test name="Test1">
        <parameter name="emailInvalid"  value="qwe123123@gmail.com" />
        <parameter name="passwordInvalid"  value="123123" />
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>
</suite>